# Project 3: Sharing Dataset on Kaggle

## Introduction:
> ### About Bayt.com
>Bayt.com is the leading job site in the Middle East and North Africa, connecting job seekers with employers looking to hire. Every day, thousands of new job vacancies are listed on the award-winning platform from the region's top employers.

#### https://www.kaggle.com/haninalmarshad/bayt-com-webscraping

#### www.kaggle.com/dataset/84b8879e36c9dd9b7276837a7bc035170fd6438689816cd0a2967fbf6cf8b498


## Part 2 Data Cleaning

### Import

In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import regex
import re

In [2]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

### Reading File

In [3]:
data = pd.read_csv('../data/jobs_bayt.csv')

### Explore data

In [4]:
data

,Job ID,Title,Job URL,Company,Company_URL,Date Posted,Job Description,Job Location,Company Industry,Company Type,...,Employment Type,Monthly Salary Range,Number of Vacancies,Career Level,Years of Experience,Residence Location,Degree,Tags,Age,Gender
0,4177110,OPERATIONS OFFICER,https://www.bayt.com/en/saudi-arabia/jobs/role...,NBP,https://www.bayt.com/en/company/nbp-1891015/,Date Posted: Apr 15,\nJob Description\nCustomer Service: Ensure pr...,"Riyadh, Saudi Arabia",Banking,Employer (Public Sector),...,Full Time Employee,Unspecified,Unspecified,Entry Level,Min: 1,"Riyadh,Saudi Arabia",Bachelor's degree / higher diploma,"['Banking', 'Business Administration', 'Operat...",NaN,NaN
1,4177085,Branch Administration Manager,https://www.bayt.com/en/saudi-arabia/jobs/role...,Kinetic Business Solutions,https://www.bayt.com/en/company/kinetic-busine...,Date Posted: Apr 15,\nJob Description\nOur client is a conglomerat...,"Riyadh, Saudi Arabia",Medical Clinic,Recruitment Agency,...,Full Time Employee,Unspecified,1,Mid Career,Min: 5,NaN,NaN,"['Hospital Operations', 'Community Health', 'C...",NaN,NaN
2,4174537,Admin Assistant(Analytical Department),https://www.bayt.com/en/saudi-arabia/jobs/role...,Jubail,https://www.bayt.com/en/saudi-arabia/jobs/loca...,Date Posted: Apr 15,\nJob Description\n1. Keep a record of appoint...,"Jubail, Saudi Arabia",Oil & Gas,Employer (Private Sector),...,Unspecified,Unspecified,Unspecified,Mid Career,NaN,NaN,NaN,['Administration'],NaN,NaN
3,4177016,فنيّ معلومات ومطور برامج,https://www.bayt.com/en/saudi-arabia/jobs/role...,Jeddah,https://www.bayt.com/en/saudi-arabia/jobs/loca...,Date Posted: Apr 15,\nJob Description\nفنيّ معلومات ومطور برامج\nS...,"Jeddah, Saudi Arabia",Facilities & Property Management; Corporate Ma...,Employer (Private Sector),...,Unspecified,Unspecified,Unspecified,Mid Career,Min: 1 Max: 5,NaN,NaN,"['Applications Support', 'Email Management', '...",Min: 18 Max: 40,NaN
4,4177035,Admin Assistant,https://www.bayt.com/en/saudi-arabia/jobs/role...,Jubail,https://www.bayt.com/en/saudi-arabia/jobs/loca...,Date Posted: Apr 15,\nJob Description\nprovide general administrat...,"Jubail, Saudi Arabia",Oil & Gas,Employer (Private Sector),...,Unspecified,Unspecified,Unspecified,Mid Career,NaN,NaN,NaN,['Administration'],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463,51205039,Assistant / Associate / Full Professor in Comp...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,Date Posted: Aug 30,\nJob Description\n\t\tThe Prep year program “...,Saudi Arabia,Other Business Support Services,Unspecified,...,Unspecified,Unspecified,Unspecified,NaN,NaN,NaN,NaN,[],NaN,NaN
3464,51205040,Assistant Professor in English. (Saudi nationa...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,Date Posted: Aug 30,\nJob Description\n\t\tThe Department of Prep-...,Saudi Arabia,Other Business Support Services,Unspecified,...,Unspecified,Unspecified,Unspecified,NaN,NaN,NaN,NaN,[],NaN,NaN
3465,51205046,Assistant / Associate / Full Professor in Phys...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,Date Posted: Aug 30,\nJob Description\n\t\tThe Prep year program “...,Saudi Arabia,Other Business Support Services,Unspecified,...,Unspecified,Unspecified,Unspecified,NaN,NaN,NaN,NaN,[],NaN,NaN
3466,51205048,Graduate assistant in Mathematics and Statisti...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,Date Posted: Aug 30,\nJob Description\n\t\tThe Prep year program “...,Saudi Arabia,Other Business Support Services,Unspecified,...,Unspecified,Unspecified,Unspecified,NaN,NaN,NaN,NaN,[],NaN,NaN
3467,50977761,Clinical Instructors - Nursing,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Faisal Specialist Hospital - Madinah,https://www.bayt.com/en/international/jobs/q/k...,Date Posted: May 23,\nJob Description\n\t\t Clinical Instructors -...,"Medina, Saudi Arabia",Medical Hospital,Unspecified,...,Unspecified,Unspecified,Unspecified,NaN,NaN,NaN,NaN,[],NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 21 columns):
Job ID                  3468 non-null int64
Title                   3468 non-null object
Job URL                 3468 non-null object
Company                 3468 non-null object
Company_URL             3468 non-null object
Date Posted             3468 non-null object
Job Description         3468 non-null object
Job Location            3467 non-null object
Company Industry        3468 non-null object
Company Type            3468 non-null object
Job Role                3468 non-null object
Employment Type         3468 non-null object
Monthly Salary Range    3468 non-null object
Number of Vacancies     3468 non-null object
Career Level            986 non-null object
Years of Experience     696 non-null object
Residence Location      556 non-null object
Degree                  693 non-null object
Tags                    3468 non-null object
Age                     247 non-null object
Gender                  338 non-null object
dtypes: int64(1), object(20)
memory usage: 569.1+ KB

#### Date Posted column

In [6]:
data['Date Posted'] = data['Date Posted'].apply(lambda x: x.replace('Date Posted: ','').replace(' ','/') )

In [7]:
data['Date Posted'].isnull().sum()

0

In [8]:
def to_datetime(text_date):
    date = pd.to_datetime(text_date + " 2020").date()
    date2019 = pd.to_datetime(text_date + " 2019").date()
    if date > datetime.today().date():
        
        return date2019
    else :
        return date
data['Date Posted'] = data['Date Posted'].map(lambda x: to_datetime(x) 
                                              if x != 'Feb/29'
                                              else to_datetime('Mar/1'))

#### Job Description column

In [9]:
data['Job Description'] =data['Job Description'].apply(lambda x: regex.sub(r'\n', ' ', x.replace('\xa0', '').replace('Job Description','').replace('\t','')) )

In [10]:
data['Job Description']

0         Customer Service: Ensure provision of Assist...
1         Our client is a conglomerate within the heal...
2         1. Keep a record of appointments and meeting...
3         فنيّ معلومات ومطور برامج Skills 1.التحدث بال...
4         provide general administrative and clerical ...
                              ...
3463      The Prep year program “Computer Science” is ...
3464      The Department of Prep-Year Program is seeki...
3465      The Prep year program “Physics” is seeking p...
3466      The Prep year program “Mathematics and Stati...
3467       Clinical Instructors - Nursing  King Faisal...
Name: Job Description, Length: 3468, dtype: object

#### Job Location column

In [11]:
data['Job Location']

0        Riyadh, Saudi Arabia
1        Riyadh, Saudi Arabia
2        Jubail, Saudi Arabia
3        Jeddah, Saudi Arabia
4        Jubail, Saudi Arabia
                 ...
3463              Saudi Arabia
3464              Saudi Arabia
3465              Saudi Arabia
3466              Saudi Arabia
3467      Medina, Saudi Arabia
Name: Job Location, Length: 3468, dtype: object

In [12]:
data['Job Location'].fillna("",inplace = True)
data['Job Country'] =data['Job Location'].apply(lambda x: str(x).split(',')[-1].strip() if len(x.split(',')) > 1 else x )
data['Job Country']

0       Saudi Arabia
1       Saudi Arabia
2       Saudi Arabia
3       Saudi Arabia
4       Saudi Arabia
            ...
3463    Saudi Arabia
3464    Saudi Arabia
3465    Saudi Arabia
3466    Saudi Arabia
3467    Saudi Arabia
Name: Job Country, Length: 3468, dtype: object

In [13]:

data['Job Location'].fillna("",inplace = True)
data['Job City'] =data['Job Location'].apply(lambda x: str(x).split(',')[-2].strip() if len(x.split(',')) > 1 else 'NaN' )
data['Job City']

0       Riyadh
1       Riyadh
2       Jubail
3       Jeddah
4       Jubail
         ...
3463       NaN
3464       NaN
3465       NaN
3466       NaN
3467    Medina
Name: Job City, Length: 3468, dtype: object

#### Years of Experience column

In [14]:
data['Years of Experience']

0              Min: 1
1              Min: 5
2                 NaN
3       Min: 1 Max: 5
4                 NaN
            ...
3463              NaN
3464              NaN
3465              NaN
3466              NaN
3467              NaN
Name: Years of Experience, Length: 3468, dtype: object

In [15]:
data['Years of Experience'].fillna(np.nan,inplace = True)
data['Min Years of Experience'] = data['Years of Experience'].apply(lambda x: x.split('Max:')[0].replace('Min: ','')
                                                                    if len(str(x).split('Max:')) > 1
                                                                    else str(x).replace('Min: ','') )

In [16]:
# if there is nan in years column
data['Min Years of Experience'] = data['Min Years of Experience'].apply(lambda x: np.nan if x =='nan' else x)
# if there is only max value in year column
data['Min Years of Experience'] = data['Min Years of Experience'].apply(lambda x: np.nan if x ==' ' else x)
#data['Min Years of Experience'] = data['Min Years of Experience'].astype(float)

In [17]:
data['Max Years of Experience'] = data['Years of Experience'].apply(lambda x: x.split('Max:')[1]
                                                                    if len(str(x).split('Max:')) > 1
                                                                    else np.nan )
#data['Max Years of Experience'] = data['Max Years of Experience'].astype(float)

In [18]:
data['Min Years of Experience'].unique()

array(['1', '5', nan, '1 ', '4', '0 ', '2 ', '3', '3 ', '10', '12', '10 ',
       '5 ', '7', '2', '8 ', '8', '15', '6 ', '9', '4 ', '18', '6', '7 ',
       '9 ', '0', '13 ', '19', '13', '12 '], dtype=object)

In [19]:
data.drop(columns='Years of Experience', inplace =True)

#### Age column

In [20]:
data['Age']

0                   NaN
1                   NaN
2                   NaN
3       Min: 18 Max: 40
4                   NaN
             ...
3463                NaN
3464                NaN
3465                NaN
3466                NaN
3467                NaN
Name: Age, Length: 3468, dtype: object

In [21]:
data['Age'].fillna(np.nan,inplace = True)
data['Min Age'] = data['Age'].apply(lambda x: x.split('Max:')[0].replace('Min: ','')
                                    if len(str(x).split('Max:')) > 1
                                    else str(x).replace('Min: ','') )

In [22]:
# if there is nan in Age column
data['Min Age'] = data['Min Age'].apply(lambda x: np.nan if x =='nan' else x)
# if there is only max value in Age column
data['Min Age'] = data['Min Age'].apply(lambda x: np.nan if x ==' ' else x)
#data['Min Age'] = data['Min Age'].astype(float)

In [23]:
data['Max Age'] = data['Age'].apply(lambda x: x.split('Max:')[1]
                                    if len(str(x).split('Max:')) > 1
                                    else np.nan )
#data['Max Age'] = data['Max Age'].astype(float)

In [24]:
data.drop(columns='Age', inplace =True)

#### Monthly Salary Range column

In [25]:
data['Monthly Salary Range'].unique()

array(['Unspecified', '$1,000 - $1,500', '$0 - $500', '$2,000 - $3,000',
       '$1,500 - $2,000', '$500 - $1,000', '$10,000 - $15,000',
       '$7,000 - $8,000', '$5,000 - $6,000', '$8,000 - $9,000',
       '$9,000 - $10,000', '$4,000 - $5,000', '$3,000 - $4,000',
       '$15,000 - $30,000', '$6,000 - $7,000'], dtype=object)

In [26]:
data ['Monthly Salary Min Range'] = data ['Monthly Salary Range'].apply(lambda x: x.split(' - ')[0] 
                                                                        if x != 'Unspecified'
                                                                        else  x )

In [27]:
data ['Monthly Salary Max Range'] = data ['Monthly Salary Range'].apply(lambda x: x.split(' - ')[1] 
                                                                        if x != 'Unspecified'
                                                                        else  x )

In [28]:
data ['Monthly Salary Min Range'] = data ['Monthly Salary Min Range'].apply(lambda x: x.replace('Unspecified','')
                                                                           .replace('$','').replace(',',''))
data ['Monthly Salary Min Range'] = data ['Monthly Salary Min Range'].apply(lambda x: np.nan if x =='' else x )
#data ['Monthly Salary Min Range'] = data ['Monthly Salary Min Range'].apply(lambda x: np.nan if x =='' else float(x) )

data ['Monthly Salary Max Range'] = data ['Monthly Salary Max Range'].apply(lambda x: x.replace('Unspecified','')
                                                                           .replace('$','').replace(',',''))
data ['Monthly Salary Max Range'] = data ['Monthly Salary Max Range'].apply(lambda x: np.nan if x =='' else x )
#data ['Monthly Salary Max Range'] = data ['Monthly Salary Max Range'].apply(lambda x: np.nan if x =='' else float(x) )

In [29]:
data['Monthly Salary Min Range'].unique()

array([nan, '1000', '0', '2000', '1500', '500', '10000', '7000', '5000',
       '8000', '9000', '4000', '3000', '15000', '6000'], dtype=object)

In [30]:
data['Monthly Salary Max Range'].unique()

array([nan, '1500', '500', '3000', '2000', '1000', '15000', '8000',
       '6000', '9000', '10000', '5000', '4000', '30000', '7000'],
      dtype=object)

In [31]:
data.drop(columns='Monthly Salary Range', inplace =True)

#### Employment Type

In [32]:
data['Employment Type'].unique()

array(['Full Time Employee', 'Unspecified', 'Contractor', 'Internship',
       '--', 'Freelancer', 'Part Time Employee', 'Commission'],
      dtype=object)

In [33]:
data['Employment Type'] = data['Employment Type'].apply(lambda x: x.replace('--','Unspecified'))

In [34]:
data

,Job ID,Title,Job URL,Company,Company_URL,Date Posted,Job Description,Job Location,Company Industry,Company Type,...,Tags,Gender,Job Country,Job City,Min Years of Experience,Max Years of Experience,Min Age,Max Age,Monthly Salary Min Range,Monthly Salary Max Range
0,4177110,OPERATIONS OFFICER,https://www.bayt.com/en/saudi-arabia/jobs/role...,NBP,https://www.bayt.com/en/company/nbp-1891015/,2020-04-15,Customer Service: Ensure provision of Assist...,"Riyadh, Saudi Arabia",Banking,Employer (Public Sector),...,"['Banking', 'Business Administration', 'Operat...",NaN,Saudi Arabia,Riyadh,1,NaN,NaN,NaN,NaN,NaN
1,4177085,Branch Administration Manager,https://www.bayt.com/en/saudi-arabia/jobs/role...,Kinetic Business Solutions,https://www.bayt.com/en/company/kinetic-busine...,2020-04-15,Our client is a conglomerate within the heal...,"Riyadh, Saudi Arabia",Medical Clinic,Recruitment Agency,...,"['Hospital Operations', 'Community Health', 'C...",NaN,Saudi Arabia,Riyadh,5,NaN,NaN,NaN,NaN,NaN
2,4174537,Admin Assistant(Analytical Department),https://www.bayt.com/en/saudi-arabia/jobs/role...,Jubail,https://www.bayt.com/en/saudi-arabia/jobs/loca...,2020-04-15,1. Keep a record of appointments and meeting...,"Jubail, Saudi Arabia",Oil & Gas,Employer (Private Sector),...,['Administration'],NaN,Saudi Arabia,Jubail,NaN,NaN,NaN,NaN,NaN,NaN
3,4177016,فنيّ معلومات ومطور برامج,https://www.bayt.com/en/saudi-arabia/jobs/role...,Jeddah,https://www.bayt.com/en/saudi-arabia/jobs/loca...,2020-04-15,فنيّ معلومات ومطور برامج Skills 1.التحدث بال...,"Jeddah, Saudi Arabia",Facilities & Property Management; Corporate Ma...,Employer (Private Sector),...,"['Applications Support', 'Email Management', '...",NaN,Saudi Arabia,Jeddah,1,5,18,40,NaN,NaN
4,4177035,Admin Assistant,https://www.bayt.com/en/saudi-arabia/jobs/role...,Jubail,https://www.bayt.com/en/saudi-arabia/jobs/loca...,2020-04-15,provide general administrative and clerical ...,"Jubail, Saudi Arabia",Oil & Gas,Employer (Private Sector),...,['Administration'],NaN,Saudi Arabia,Jubail,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463,51205039,Assistant / Associate / Full Professor in Comp...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,2019-08-30,The Prep year program “Computer Science” is ...,Saudi Arabia,Other Business Support Services,Unspecified,...,[],NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3464,51205040,Assistant Professor in English. (Saudi nationa...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,2019-08-30,The Department of Prep-Year Program is seeki...,Saudi Arabia,Other Business Support Services,Unspecified,...,[],NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3465,51205046,Assistant / Associate / Full Professor in Phys...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,2019-08-30,The Prep year program “Physics” is seeking p...,Saudi Arabia,Other Business Support Services,Unspecified,...,[],NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3466,51205048,Graduate assistant in Mathematics and Statisti...,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Fahd University of Petroleum and Minerals,https://www.bayt.com/en/company/king-fahd-univ...,2019-08-30,The Prep year program “Mathematics and Stati...,Saudi Arabia,Other Business Support Services,Unspecified,...,[],NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,50977761,Clinical Instructors - Nursing,https://www.bayt.com/en/saudi-arabia/jobs/role...,King Faisal Specialist Hospital - Madinah,https://www.bayt.com/en/international/jobs/q/k...,2019-05-23,Clinical Instructors - Nursing King Faisal...,"Medina, Saudi Arabia",Medical Hospital,Unspecified,...,[],NaN,Saudi Arabia,Medina,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data.columns

Index(['Job ID', 'Title', 'Job URL', 'Company', 'Company_URL', 'Date Posted',
       'Job Description', 'Job Location', 'Company Industry', 'Company Type',
       'Job Role', 'Employment Type', 'Number of Vacancies', 'Career Level',
       'Residence Location', 'Degree', 'Tags', 'Gender', 'Job Country',
       'Job City', 'Min Years of Experience', 'Max Years of Experience',
       'Min Age', 'Max Age', 'Monthly Salary Min Range',
       'Monthly Salary Max Range'],
      dtype='object')

## Save Data after cleaning

In [38]:
data.to_csv('../data/jobs_bayt_c2.csv',index_label='Job ID', index=False)